#detail_graph_container{
	min-width: 100px;
	min-height: 400px;
	width: 100%;
	height: 100%;
	background: #f1f1f1;
}

#detail_progress{
	visibility:hidden;
	float:right;
	margin: 5px 10px;
	color: #b3b3b3;
	font-size: 10px;
}